:root {
  --background-color: #202020;
  --text-color: #ffffff;
}

body {
  background-color: #1b1b1b;
}

/* font-family: "Montserrat", sans-serif;
font-family: "Roboto", sans-serif;
font-family: "Rozha One", serif;
font-family: "Ubuntu", sans-serif; */
.hero {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 800px;
  margin-bottom: 100px;
}
h3 {
  color: var(--text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 235px;
}
h1 {
  color: var(--text-color);
  padding-top: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.hero p {
  color: var(--text-color);
  padding: 15px 420px;
  font-style: normal;
  font-weight: 400px;
  font-size: 18px;
  line-height: 30px;
}

#start-button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700px;
  padding: 18px 40px;
  border-radius: 50px;
  height: 53px;
  background-color: white;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
/* .content-wrapper {
  padding: 0 140px;
}
/* .item {
  padding: 20px;
  max-width: fit-content;
}  */
.container {
  padding: 20px 0px;
  justify-content: space-between;
}
@media (max-width: 700px) {
  h1 {
    font-size: 40px;
  }
  h3 {
    padding-top: 100px;
  }
  .hero {
    height: 400px;
  }
}
@media (max-width: 1000px) {
  .hero p {
    padding: 0px;
  }
  .hero {
    margin-bottom: 0px;
  }
}
