:root {
  --background-color: #202020;
  --text-color: #ffffff;
}

/* font-family: "Montserrat", sans-serif;
font-family: "Roboto", sans-serif;
font-family: "Rozha One", serif;
font-family: "Ubuntu", sans-serif; */
.hero {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-image: url("../images/bg.png");
  background-size: 100%;
  height: 700px;
}
h3 {
  color: var(--text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 216px;
}
h1 {
  color: var(--text-color);
  padding-top: 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.hero p {
  color: var(--text-color);
  padding: 25px 420px;
  font-style: normal;
  font-weight: 400px;
  font-size: 18px;
  line-height: 30px;
}

#start-button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700px;
  padding: 18px 40px;
  border-radius: 50px;
  height: 53px;
  background-color: white;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
