:root {
  --background-color: #1b1b1b;
  --text-color: #ffffff;
  --about-color: #f65282;
  --main-text: "Roboto", sans-serif;
}

body {
  background-color: var(--background-color);
}

/* font-family: "Montserrat", sans-serif;
font-family: "Roboto", sans-serif;
font-family: "Rozha One", serif;
font-family: "Ubuntu", sans-serif; */
.hero {
  font-family: var(--main-text);
  text-align: center;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 800px;
  margin-bottom: 100px;
}
h3 {
  color: var(--text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 235px;
}
h1 {
  color: var(--text-color);
  padding-top: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.about-h1 {
  font-family: var(--main-text);
  font-size: 58px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
}
h4 {
  font-family: var(--main-text);
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--about-color);
}
p {
  color: var(--text-color);
  font-size: 18px;
  font-family: var(--main-text);
}
.icon {
  color: var(--text-color);
  justify-content: space-between;
  max-width: 100px;
  margin: 50px 0px 70px 0px;
}
.camera-content p {
  background-color: #2d2727;
  padding: 20px 15px;
  font-size: 18px;
  font-family: var(--main-text);
  max-width: 400px;
}
.about-content {
  padding: 150px 35px 0px 0px;
}
.img {
  padding-top: 100px;
  width: 600px;
  height: 850px;
  object-fit: cover;
}

.hero p {
  color: var(--text-color);
  padding: 15px 420px;
  font-style: normal;
  text-align: center;
  font-weight: 400px;
  font-size: 18px;
  line-height: 30px;
}

.start-button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700px;
  padding: 18px 40px;
  border-radius: 50px;
  height: 53px;
  background-color: white;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.content {
  padding: 20px 0px;
  justify-content: space-between;
}
.about-section-content {
  padding: 100px 0px 50px 0px;
}
.gallery-content {
  padding-top: 100px;
}

@media (max-width: 800px) {
  .hero {
    margin-bottom: 5px;
    height: 300px;
    padding: 0 auto;
  }
  h1 {
    font-size: 40px;
    padding: 0 auto;
    line-height: 2px;
  }
  h3 {
    font-size: 20px;
    padding-top: 50px;
  }

  .content {
    flex-direction: column;
  }
  .item {
    padding-top: 3px;
  }
  .hero p {
    padding: 20px 90px 0px 90px;
    font-size: 13px;
    line-height: 10px;
  }
  #start-button {
    font-size: 10px;
    padding: 15px 20px;
  }
}
