:root {
  --background-color: #202020;
  --text-color: #ffffff;
}

body {
  background-color: #1b1b1b;
}

/* font-family: "Montserrat", sans-serif;
font-family: "Roboto", sans-serif;
font-family: "Rozha One", serif;
font-family: "Ubuntu", sans-serif; */
.hero {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 800px;
  margin-bottom: 100px;
}
h3 {
  color: var(--text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 235px;
}
h1 {
  color: var(--text-color);
  padding-top: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.hero p {
  color: var(--text-color);
  padding: 15px 420px;
  font-style: normal;
  text-align: center;
  font-weight: 400px;
  font-size: 18px;
  line-height: 30px;
}

#start-button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700px;
  padding: 18px 40px;
  border-radius: 50px;
  height: 53px;
  background-color: white;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
/* .content-wrapper {
  padding: 0 140px;
} */

.container {
  padding: 20px 0px;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .hero {
    margin-bottom: 5px;
    height: 300px;
    padding: 0 auto;
  }
  h1 {
    font-size: 20px;
    padding: 0 auto;
    line-height: 2px;
  }
  h3 {
    font-size: 15px;
    padding-top: 50px;
  }
  .container {
    flex-direction: column;
    max-width: 70%;
  }
  .item {
    padding-top: 3px;
  }
  .hero p {
    padding: 10px 120px;
    font-size: 8px;
    line-height: 10px;
  }
  #start-button {
    font-size: 10px;
    padding: 10px 20px;
  }
}
